header {
  width: 96%;
  clear: both;
  padding: 20px 0 40px;
  height: 500px;
  background: url("../../images/long.jpg") no-repeat;
  background-size: cover; }

header h1 {
  width: 350px;
  margin: 0 auto;
  color: white; }

p {
  color: #2e3983; }

a {
  color: #edcd03; }

.row {
  font-family: franklin gothic book; }

h1 {
  font-family: franklin gothic medium; }

body {
  background-color: #fffffe; }

@media screen and (max-width: 740px) {
  header {
    background: url("../../images/long.jpg") no-repeat;
    width: 100%;
    height: 200px; }

  header h1 {
    margin-left: 60px; } }
.contact {
  width: 40%;
  margin: 0 auto; }

form {
  width: 50%; }

.sectional h3 {
  margin: 0 auto; }

.login {
  width: 50%;
  margin: 0 auto;
  margin-top: 150px; }

@media screen and (max-width: 740px) {
  .contact {
    width: 100%;
    margin: 0 auto; }

  form {
    width: 100%; } }
@media screen and (max-width: 770px) {
  .box {
    margin-top: 20px; }

  #container {
    width: 100%; } }
@media screen and (max-width: 490px) {
  #container {
    width: 96%;
    margin-left: 0; } }
